@import "tailwindcss";

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --background: #fbfbfe;
  --text: #040316;
  --primary: #2f27ce;
  --secondary: #dddbff;
  --accent: #443dff;
}

.dark-theme {
  --background: #010104;
  --text: #eae9fc;
  --primary: #3a31d8;
  --secondary: #020024;
  --accent: #0600c2;
}

.green-theme {
  --background: #ddfdeb;
  --text: #033018;
  --primary: #098b43;
  --secondary: #97dee3;
  --accent: #5fb9d5;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
